.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.result {
  font-size: 40px;
  color: blueviolet;
  margin-bottom: -20px;
}

body {
  background-color: #282930;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  font-weight: 500;
  color: #3cc6d0;
}

h2, h3 {
  margin: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: #3cc6d0;
}

p {
  color: #3cc6d0;
}

img {
  width: 80%;
  background-color: #ef1f1f;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}

.myBtn {
  margin: 25px;
  margin-bottom: 50px;
  padding: 20px 25px;
  font-size: 20px;
  border-radius: 10px;
  border-color: bisque;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
